@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

.container{
    transition: transform 300ms ease-in-out;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    position: relative;
}

.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 300ms ease-in-out;
    
}

.container:hover img{
    transform: scale(1.01);
}

.container .informations{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 1rem 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%),
              radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 80%);
    color: #fff;
}

.container .informations .title{
    font-family: 'Mulish', sans-serif;
    text-shadow: 5px 4px 4px rgba(0,0,0,0.88);
}

.container .informations .data{
    font-family: 'Quicksand', sans-serif;
}